@model IEnumerable<WebSchool.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name:</th>
            <th scope="col">Age:</th>
            <th scope="col">Budget:</th>
            <th scope="col">Control:</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <th scope="row">@c.Name</th>
                <td>@c.Age</td>
                <td>@c.Budget</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("FilterProducts", "Product", new {budget = c.Budget })">Доступные товары</a>
                    <a class="btn btn-primary" href="@Url.Action("CustomerOrders", "Order", new {budget = c.Budget })">Просмотреть заказы</a>
                </td>
            </tr>
        }
    </tbody>

</table>